<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>911848675860-d45lo3hleih3gevm3ium7uohtj6mbgla.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.911848675860-d45lo3hleih3gevm3ium7uohtj6mbgla</string>
	<key>API_KEY</key>
	<string>AIzaSyBFZx5TWmyi-URN0vatwNw6nmxCrrHFpZ8</string>
	<key>GCM_SENDER_ID</key>
	<string>911848675860</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mylis</string>
	<key>PROJECT_ID</key>
	<string>mylis-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>mylis-dev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:911848675860:ios:5356f7c43a6d85ac94a501</string>
</dict>
</plist>